In [8]:
import pandas as pd

In [9]:
df = pd.read_csv("C:/Users/ayan1/OneDrive/Documents/Course/Machine Learning Using Python/Data Folder/laptop_pricing.csv",header=0)
df.head()

,Manufacturer,IntelCore(i-),IntelCoreGen,processing speed(GHz),Ram(gb),HDD(gb),SSD(gb),Graphics(gb),ScreenSize(inch),Price
0,Dell,3,7,2.29,4.0,1000,0,0,15.6,39057
1,Dell,3,7,2.30,4.0,1000,0,0,15.6,45141
2,HP,3,7,2.30,8.0,256,256,0,14.0,35999
3,ASUS,3,7,2.30,NaN,1000,0,0,14.0,39990
4,HP,3,7,2.40,4.0,1000,0,0,15.6,36263

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105 entries, 0 to 104
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Manufacturer           105 non-null    object
 1   IntelCore(i-)          105 non-null    int64
 2   IntelCoreGen           105 non-null    int64
 3   processing speed(GHz)  105 non-null    float64
 4   Ram(gb)                96 non-null     float64
 5   HDD(gb)                105 non-null    int64
 6   SSD(gb)                105 non-null    int64
 7   Graphics(gb)           105 non-null    int64
 8   ScreenSize(inch)       105 non-null    float64
 9   Price                  105 non-null    int64
dtypes: float64(3), int64(6), object(1)
memory usage: 8.3+ KB

In [11]:
df['Ram(gb)'] = df['Ram(gb)'].fillna(df['Ram(gb)'].mean())

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105 entries, 0 to 104
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Manufacturer           105 non-null    object
 1   IntelCore(i-)          105 non-null    int64
 2   IntelCoreGen           105 non-null    int64
 3   processing speed(GHz)  105 non-null    float64
 4   Ram(gb)                105 non-null    float64
 5   HDD(gb)                105 non-null    int64
 6   SSD(gb)                105 non-null    int64
 7   Graphics(gb)           105 non-null    int64
 8   ScreenSize(inch)       105 non-null    float64
 9   Price                  105 non-null    int64
dtypes: float64(3), int64(6), object(1)
memory usage: 8.3+ KB