In [7]:
import pandas as pd
url = 'https://raw.githubusercontent.com/Glamorous9754/Practice-in-Jupyter/main/Data%20Files/loan_data.csv'
df = pd.read_csv(url)
df.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,Male,Yes,1,Graduate,No,4583,1508.0,128,360.0,1.0,Rural,N
1,Male,Yes,0,Graduate,Yes,3000,0.0,66,360.0,1.0,Urban,Y
2,Male,Yes,0,Not Graduate,No,2583,2358.0,120,360.0,1.0,Urban,Y
3,Male,No,0,Graduate,No,6000,0.0,141,360.0,1.0,Urban,Y
4,Male,Yes,0,Not Graduate,No,2333,1516.0,95,360.0,1.0,Urban,Y

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 381 entries, 0 to 380
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Gender             376 non-null    object
 1   Married            381 non-null    object
 2   Dependents         373 non-null    object
 3   Education          381 non-null    object
 4   Self_Employed      360 non-null    object
 5   ApplicantIncome    381 non-null    int64
 6   CoapplicantIncome  381 non-null    float64
 7   LoanAmount         381 non-null    int64
 8   Loan_Amount_Term   370 non-null    float64
 9   Credit_History     351 non-null    float64
 10  Property_Area      381 non-null    object
 11  Loan_Status        381 non-null    object
dtypes: float64(3), int64(2), object(7)
memory usage: 35.8+ KB

In [9]:
df = pd.get_dummies(df,drop_first=True)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 381 entries, 0 to 380
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ApplicantIncome          381 non-null    int64
 1   CoapplicantIncome        381 non-null    float64
 2   LoanAmount               381 non-null    int64
 3   Loan_Amount_Term         370 non-null    float64
 4   Credit_History           351 non-null    float64
 5   Gender_Male              381 non-null    bool
 6   Married_Yes              381 non-null    bool
 7   Dependents_1             381 non-null    bool
 8   Dependents_2             381 non-null    bool
 9   Dependents_3+            381 non-null    bool
 10  Education_Not Graduate   381 non-null    bool
 11  Self_Employed_Yes        381 non-null    bool
 12  Property_Area_Semiurban  381 non-null    bool
 13  Property_Area_Urban      381 non-null    bool
 14  Loan_Status_Y            381 non-null    bool
dtypes: bool(10), float64(3), int64(2)
memory usage: 18.7 KB

In [11]:
# fill all the missing values with the mean value of the respected columns
df.fillna(df.mean(), inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 381 entries, 0 to 380
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ApplicantIncome          381 non-null    int64
 1   CoapplicantIncome        381 non-null    float64
 2   LoanAmount               381 non-null    int64
 3   Loan_Amount_Term         381 non-null    float64
 4   Credit_History           381 non-null    float64
 5   Gender_Male              381 non-null    bool
 6   Married_Yes              381 non-null    bool
 7   Dependents_1             381 non-null    bool
 8   Dependents_2             381 non-null    bool
 9   Dependents_3+            381 non-null    bool
 10  Education_Not Graduate   381 non-null    bool
 11  Self_Employed_Yes        381 non-null    bool
 12  Property_Area_Semiurban  381 non-null    bool
 13  Property_Area_Urban      381 non-null    bool
 14  Loan_Status_Y            381 non-null    bool
dtypes: bool(10), float64(3), int64(2)
memory usage: 18.7 KB